<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
</head>
<body>
{{> header}}
<p>{{welcomeMessage}}</p>
<a href={{githubProjects}}>Github projects</a>
{{> footer}}
</body>
</html>